<%
var n = 888;
tuoi = 18;
%>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome NodeJS</h1>
    <h2><%= n %></h2>
    <% if(tuoi >=18){ %>
      <h2>Ban da du tuoi</h2>
    <% } else { %>
      <h2>Ban chua du tuoi</h2>
      <% } %>

      <% for(var i=1; i<=5; i++) {%>
        <h1><%= i %></h1>
        <% } %>
  </body>
</html>
